@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.info ol, .info ul {
  list-style-type: circle;
  padding-left: 10px;
}

.info ol {
  list-style-type: decimal;
}
